<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>起飞时间</string>
		<key>time</key>
		<array>
			<string>00:00 — 06:00</string>
			<string>06:00 — 12:00</string>
			<string>12:00 — 18:00</string>
			<string>18:00 — 24:00</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>机场</string>
		<key>time</key>
		<array>
			<string>不限</string>
			<string>新白云国际机场</string>
			<string>不限</string>
			<string>南苑机场</string>
			<string>首都国际机场</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>机型</string>
		<key>time</key>
		<array>
			<string>不限</string>
			<string>大型机</string>
			<string>中型机</string>
			<string>小型机</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>舱位</string>
		<key>time</key>
		<array>
			<string>经济舱</string>
			<string>公务舱</string>
			<string>头等舱</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>航空公司</string>
		<key>time</key>
		<array>
			<string>不限</string>
			<string>中国国航</string>
			<string>南方航空</string>
			<string>海南航空</string>
			<string>中国联航</string>
		</array>
	</dict>
</array>
</plist>
